.card {
    height: 150px;
    width: 150px;
    border-radius: 20%;
    border: lightslategray 2px solid;
    display: inline-block;
    background-color: grey;
}



.placeholder {
    background-color: white;
    border: 2px solid lightgrey;
}